.character-profile-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    .character-image {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0 3%;
        div {
            display: flex;
            border-radius: 20px;
            border: 2px solid #91cf96;
            overflow: hidden;
            background: #d0d0d0;
            position: relative;
            width: 50%;
            padding-top: 50%;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .character-info {
        width: 100%;
        margin-top: 20px;
        font-size: 14px;
    }
}
.loading-text {
    text-align: center;
    font-size: 32px;
}
@media (max-width: 768px) {
    .character-profile-container {
        flex-direction: column;
        align-items: center;
    }
    .character-image > div {
        width: 40% !important;
        padding-top: 40% !important;
    }
    .character-profile-container .character-info {
        padding-left: 0px;
        text-align: center;
        ul {
            padding: 0;
            list-style-position: inside;
        }
    }
}