.character-profile-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    .main-ch-info {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 20px 0px 40px 0px;
        .character-image {
            display: flex;
            width: 100%;
            max-width: 214px;
            padding: 0 3%;
            div {
                display: flex;
                border-radius: 20px;
                border: 2px solid #91cf96;
                overflow: hidden;
                background: #d0d0d0;
                position: relative;
                width: 100%;
                padding-top: 50%;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .character-info {
            width: 100%;
            max-width: 350px;
            font-size: 14px;
            background: #ffffff;
            border-radius: 20px;
            border: 1px solid #CCC;
            div {
                padding-left: 20px;
            }
        }
    }
    .episodes-container {
        .episodes-title {
            padding: .75rem 1.25rem;
            margin: 0;
            background: #5CA178;
            border-radius: 5px 5px 0px 0px;
            color: white;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            padding-inline-start: 0px;
            .list-episode:hover {
                background-color: #d8d8d8;
            }
            .list-episode {
                padding: .75rem 1.25rem;
                background-color: #fff;
                border: 1px solid rgba(0,0,0,.125);
            }
            .list-episode + .list-episode {
                border-top-width: 0;
            }
        }
    }
    
}
.loading-text {
    text-align: center;
    font-size: 32px;
}
@media (max-width: 768px) {
    .character-profile-container .main-ch-info {
        flex-direction: column;
        align-items: center;
    }
    .character-profile-container {
        flex-direction: column;
        align-items: center;
    }
    .character-image {
        margin-bottom: 15px;
    }
    .character-image > div {
        padding-top: 100% !important;
    }
    .character-profile-container .main-ch-info .character-info div {
        padding: 0px 10px;
    }
    .character-profile-container .character-info {
        text-align: center;
    }
}