.main-container {
    background: #80808014;
    padding: 3%;
}
.main-container {
    .character-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
.link-character {
    text-decoration: none;
    color: black;
}