.main-container {
    background: gray;
    padding: 3%;
    h3 {
        color: red;
    }
}
.main-container {
    .character-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
.link-character {
    text-decoration: none;
    color: black;
}