.main-container {
    padding: 3%;
}
.main-container {
    .character-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
}
.link-character {
    text-decoration: none;
    width: 25%;
}
.loading-cards {
    width: 100%;
    text-align: center;
    font-size: 32px;
}
@media (max-width: 992px) {
    .link-character {
        width: 33.33%;
    }
}
@media (max-width: 992px) {
    .link-character {
        width: 33.33%;
    }
}
@media (max-width: 576px) {
    .main-container .character-wrapper {
        justify-content: center;
    }
    .link-character {
        width: 75%;
    }
}